@font-face {
  font-family: "Vazir";
  src: url("Vazir.woff") format("woff");
}
@font-face {
  font-family: "Vazir";
  src: url("Vazir.woff2") format("woff2");
}
* {
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  font-family: "Vazir";
}
.main-category {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.title h1 {
  margin: 20px 0;
  display: flex;
  flex-flow: column;
  font-size: 2rem;
}
.main-category img {
  width: 180px;
}
.main-category span {
  text-align: center;
  font-size: 1rem;
}
.digital-category,
.tool-category,
.dress-category,
.toy-category,
.super-market-category,
.health-category,
.kitchen-category,
.book-category,
.trip-category,
.local-category {
  margin: 20px 30px;
  cursor: pointer;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}